body
{
	font-family: Arial;
	text-decoration: none;
	color: #000000;
	font-size: 9pt;
}

.Titulo
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: CadetBlue;
	height: 20px;
	font-size: 12px;
	width:auto;
}

.cabecera
{
border:1px solid #4297d7;
background:linear-gradient(#5a9ecf,#66a2cf);
color:white;
font-weight:bold
}

.Botones3
{
	display: inline-block;
    padding: 1px 6px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	 color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
}

.Botones33
{
	display: inline-block;
    padding: 1px 40px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	 color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
}

.Botones
{
       font-size:11px;
       font-family:Lucida Sans Unicode;
       font-weight:bold;
       color:white;
       background:CadetBlue;
       border:10px;
       border-bottom-color:Black;
       cursor:hand;
       margin: 3px;
}

.Botones:hover{
	box-shadow: 0px 0px 5px gray;
	-moz-box-shadow: 0px 0px 5px gray;
}

.Etiqueta
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	/*color: Highlight;*/
	color:Black;
	height: 22px;
	font-size: 12px;
	FONT-VARIANT: normal;
}

.EtiquetaListado
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color:Black;
	height: 17px;
	font-size: 11px;
}

.Contador
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: Highlight;
	height: 14px;
	font-size: 10px;
	border: none;
}

.RadioButon
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: Black;
	height: 17px;
	font-size: 9px;
}

/*Estilo TextBox*/
.CajaTexto
{
	font-family: Lucida Sans Unicode;
	font-size:12px;
	border:1px solid #12AFED;
	border-radius: 3px;
	width: 300px !important;
	text-transform: uppercase;
}
#txtFolConstaImpli{text-transform: uppercase;}
.CajaTextoEditable
{
	font-family: Lucida Sans Unicode;
	font-size:14px;
	font-weight: bold;
	border:1px solid #12AFED;
	border-radius: 3px;
	float:none;
}



.CajaTextoTitulo
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: #2169AF;
	font-size: 9pt;
	border-style:none;
	border-width: 0;
	background-color:Transparent;
	text-align:right;
	font-weight:bold;
}
.Seccion
{
	font-weight: bold;
	font-size: 12px;
	color: White;
	text-decoration: none;
	font-style: normal;
	font-family: Lucida Sans Unicode;
	height: 22px;
	font-variant: normal;
	background-color: #5a9ecf;
	text-align: center;
}

.SeccionGrid
{
	font-weight: bold;
	font-size: 11px;
	color: White;
	text-decoration: none;
	font-style: normal;
	font-family: Lucida Sans Unicode;
	height: 18px;
	font-variant: normal;
	background-color: #5a9ecf;
	text-align: center;
}

.ComboBox
{
	border:1px solid #4297d7;
	font: Arial,Helvetica,sans-serif;  
	font-size: 12.5px;
	float:none;
	

}

.ComboBoxEditable
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color:Black;
	font-size: 9px;
	background-color:White;
}

.Links
{
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
	color: #173b93;
	font-size: 10pt;
}

.Links2
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #003399;
	font-size: 8pt;
}



.Links a:active
{
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 8pt;
}

.Links2 a:active
{
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
	color: #003399;
	font-size: 8pt;
}

.Links3 a:active
{
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12pt;
}

.Links a:link
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 8pt;
}

.Links2 a:link
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #003399;
	font-size: 8pt;
}

.Links3 a:link
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12pt;
}
 
.Links a:visited
{
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 8pt;
}

.Links2 a:visited
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #003399;
	font-size: 8pt;
}

.Links3 a:visited
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12pt;
}

.Links a:hover 
{
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
	color: #ffef82;
	font-size: 10pt;
	cursor:hand;
}

.Links2 a:hover 
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #003399;
	font-size: 8pt;
}

.Links3 a:hover 
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 14pt;
}

.Select
{ 
	font-family: Lucida Sans Unicode; 
	font-size: 8px; 
	color:Blue; 
	background-color:White;
} 

.TDGrid
{
	text-decoration:none;
	background-color:White;
	font-size: 11px; 
}

.MensajeAmarillo
{
	font-family: Lucida Sans Unicode;
	font-weight: bold;
	text-decoration: none;
	color: Black;
	height: 20px;
	font-size: 14px;
	background-color:Yellow;
	width:100%;	
}

.MensajeDefault
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: Black;
	height: 20px;
	font-size: 14px;
	background-color:White;	
	width:100%;	
}

.EtiquetaEditable
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: Black;
	height: 18px;
	font-size: 10px;
}							

.bodyMenu {
	width:160px;
	height:20px;
	text-align: left;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	padding-left: 3px;
	margin: 2px;
}

.subMenuLink{
	margin: 0px;
	font-size: 11px;
	padding-left: 5px;
	padding-right: 6px;
	padding-top: 1px;
	padding-bottom: 0px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color:white;	
}

#pagina{
 height : 230px;
 width : 200px;
 overflow : auto;
}

.invisible
{
	visibility:hidden;
	height:0px;
	font-size:0;
}	

.loading
{

	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#000099;
	text-align:center;
	cursor:wait;
	z-index:0;
	background-color:Transparent;
	position:absolute;
	height:100%;
	width:100%;
}		


.gridblanco {
	color:Black;
	background-color:White;
	border:1px;
	height:15px;
}
.gridazul {
	color:Black;
	background-color:#CEE3F6;
	border:0px;
}

.SeccionAlignLeft
{
	font-weight: bold;
	font-size: 12px;
	color: White;
	text-decoration: none;
	font-style: normal;
	font-family: Lucida Sans Unicode;
	height: 22px;
	font-variant: normal;
	text-align: left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #122F3D;
	border-right-color: #122F3D;
	border-bottom-color: #122F3D;
	border-left-color: #122F3D;
	
}

.tableData{
	/*width: 400px;*/
	color: White;
	font-family: Arial, sans-serif;
	font-size: 17px;
	background-repeat:no-repeat;
	border: 0px solid #122F3D;
	/*background-color: #5a9ecf;*/
	background-color: Black;
	/*FONT-WEIGHT: bold;*/

}
.tableData2{
	width: 100%;
	color: White;
	font-family: Arial, sans-serif;
	font-size: 17px;
	/*background-repeat:no-repeat;*/
	/*border: 0px solid #122F3D;*/
	background-color: #5a9ecf;
	FONT-WEIGHT: bold;
	

}
.tablaEncabezado
{
	color:White;
	background-color: #5a9ecf;
	FONT-WEIGHT: bold;	
}


#contenedorPrincipal 
{
  padding: 5px;
  width: auto;
  height: 100%;
  margin: auto;
  box-shadow:0px 0px 15px gray;
  -moz-box-shadow:0px 0px 15px gray;
  overflow: hidden;
}
#areabotones{
	margin: 30px;
}
.Espera{
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	background: url('../imagenes/loading.gif') no-repeat;
	margin-bottom: 10px;
	margin-left: 10px;
}
#bloquea{
	align:center;
	padding: 8px;
	background: white;
	border-radius: 12px; 
}

/*<--! Estructura prueba-->*/

#grid 
{
  height: calc(100vh - 65px);  /* 65px to account for scrollbar */;  
  display: -ms-grid;
  -ms-grid-columns: 200px 25px 1fr;
  -ms-grid-rows: 160px 25px 1fr 25px 200px; 
  border: 1px solid red;	      /* for a visual guide */
}

/*Codigo Grid 28/07/2016*/
.jsgrid{
	border-collapse: collapse; 
	border: 1px solid #5a9ecf; 
	width: auto; 
	text-align: center;
	background: #FFFFFF;
}
/*Cabecera*/
.jsgrid thead {
	display: flex; 
	font-weight: bold; 
	background: #5a9ecf; 
	color: white;
	width: auto;
}
/* 
Al Display de Arriba se le Cambio el "inline-block" por el "flex o inline-flex" 
*/
.selrenglon{
	background: #81BEF7; 
}
.ocultar{
	display: none;
}
.centrado{
	text-align: center;
}
.scrollContent{ 
	display: block;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	border: 1px solid red;
}
.scrollTable{
	width: 100%;
	height: 100%;	
}
div.tableContainer {
	clear: both;
	border: 1px solid #0000FF;
	overflow: auto;
}
html>body div.tableContainer {
	overflow: hidden;
}
div.tableContainer table {
	float: left; 
}
thead.fixedHeader tr {
	font-weight: bold; 
	background: #307ecc; 
	color: white; 
}
html>body thead.fixedHeader tr { 
	display: block; 
}
html>body tbody.scrollContent {
	display: block;
	overflow: auto;
	width: 100%;
	cursor: pointer;
}
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	height: 15px; 
	font-size: 12px; 
	border: 1px solid white; 
 }
tbody.scrollContent tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}

.ComboBox
{
	text-align: left;
	margin-right: 30px;
	width:auto;
	border:1px solid #12AFED;
	border-radius: 3px 0px 0px 3px;	
}
/* the overflow property removes extra width in IE */
.ui-button 
{ 
	display: inline-block; 
	position: relative; 
	padding: 0; 
	margin-right: .1em; 
	text-decoration: none; 
	cursor: pointer; 
	text-align: center; zoom: 2; 
	overflow: visible; 
	color: #2e6e9e; 
} 
.bordeRedondo
{
	border:1px solid #12AFED;
	border-radius: 3px;	
	width:250px;
}
/*----Modal---- */
.divDialogo
{
	z-index: 99998;
	position: fixed; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: normal; 
	border: #CCC 2px solid; 
	background: none repeat scroll 0% 0% rgba(170, 170, 170, 0.8);
	color: #000000; 
	border-radius: 5px;
	display:none;
}
.divDialogo>div
{
	width: 100%;
	position: relative;
	margin: 10% auto;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #A6C9E2;
	background: rgb(255, 255,255);
	overflow: auto;
}
.divContentDlg
{
	font-weight: bold;
	font-size: 16px;
}
.botonDialogo
{
	width: 100%;
	height: 100%;
}
.divDialogo:target {
    opacity:1;
    pointer-events: auto;
}
.tituloDialogo
{
	width: 94%;
	height: 5%;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	background-color: #5A9ECF;
	color: rgb(255, 255,255);
	border-radius: 3px;
}
.btndlg-cerrar
{
	color: #FFF;
	background-color: #C9302C;
	border-color: #D43F3A;
	border-radius: 3px;
}
.btndlg-cerrar:hover
{
	color: #FFF;
	background-color: #C9302C;
	border-color: #AC2925;
}
.BtnModal
{
	display: inline-block;
    padding: 2px 8px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	 color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
}

#tInfoTraba tr td input{
	text-transform: uppercase; 
	text-align: right;
	padding-right: 10px;
}

.none{
	display: none;
}

input[type="button"][disabled] {
   background-color: #7DA4C5;
}

#txtFolioEdocta{
	width: 30px !important;
}

.divTipoTras #txtCurp{
	width: 258px !important;
}

#tableSolEnc, #tableSolEnc th, #tableSolEnc td, 
#tableTelefonos, #tableTelefonos th, #tableTelefonos td, 
#tableBeneficiarios, #tableBeneficiarios th, #tableBeneficiarios td{
   border: 1px solid #12AFED;
}

#tableSolEnc thead tr, 
#tableTelefonos thead tr, 
#tableBeneficiarios thead tr{
	background: #337AB7;
}

#tableSolEnc thead tr th, 
#tableTelefonos thead tr th, 
#tableBeneficiarios thead tr th{
	padding: 5px 0px;
	color: #FFF;
}

#tableSolEnc tbody tr td, 
#tableTelefonos tbody tr td, 
#tableBeneficiarios tbody tr td{
	text-align: justify;
}

#tableTelefonos tbody tr td input, #tableBeneficiarios tbody tr td input{
	border: none;
	width: 98% !important;
}

.divImpresionCont{
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 0px;
	padding-top: 10%;
}
/*Para Centar Boton Continuar*/
#btnContinuar
{
	margin-left: 50%;
}
.lblFolConst1
{

	font-family: Lucida Sans Unicode;
	text-decoration: none;
	/*color: Highlight;*/
	color:Black;
	height: 22px;
	font-size: 12px;
	FONT-VARIANT: normal;
}
lblFolConst2
{
		opacity: 0.350;
		font-family: Lucida Sans Unicode;
		text-decoration: none;
		height: 22px;
		font-size: 12px;
		margin-left: 250px;
}

/* #lFolioSol
{
	font-size-adjust:8px;

	opacity: 0.350; font-size:16px;
} */
/* margin-left:-24px; */
#txtFolioSol
{
	opacity: 0.350;
	border: 0;
	background-color: white;
}
/* #cajatr
{
	margin-right: -200px;
} */
#lFolioSol{margin-left: 370px;}


iframe.iframe-mdl{
	width: 100%;
	height: 100%;
	/* border-color: #fff; */
} 

.divDialogo2
{
	z-index: 99999;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	border: #CCC 2px solid;
	background: none repeat scroll 0% 0% rgba(170, 170, 170, 0.8);
	color: #000000;
	border-radius: 5px;
	display:none;

}
.divDialogo2 > div
{

	position: relative;
	margin: 10% auto;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #A6C9E2;
	background: rgb(255, 255,255);
	 /* overflow: auto;   */
}	
